.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 0;
  height: 60px;
  padding: 0 50px; }
  .header__img {
    width: 40px;
    height: 40px;
    margin: 10px 0; }
  .header__logo {
    display: inline-block; }

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 50px 48px; }
  .catalog__container {
    margin: 50px auto;
    width: calc(1024px - 80px); }

.card {
  display: grid;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 14px;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .card__image {
    margin-top: 16px;
    justify-self: center;
    width: 160px;
    height: 134px; }
  .card__title {
    margin-top: 45px; }
  .card__title-text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__review {
    padding-top: 15px;
    padding-bottom: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__sku {
    margin-top: 5px; }
  .card__rate {
    margin-top: 15px; }
  .card__price-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
    padding: 0; }
  .card__price-tag {
    padding-bottom: 1px; }
  .card__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .card__button {
    display: block;
    height: 40px;
    margin-top: 21px;
    margin-bottom: 1px;
    background-color: #00acdc;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none; }
    .card__button:hover {
      border: 1px solid #00acdc;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 5px;
      background-color: white;
      color: #00acdc; }

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .rate__star {
    display: inline-block;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 4px; }

.stars--4 .rate__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg); }

.nav {
  justify-self: end; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav__item {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    line-height: 60px; }
  .nav__item:first-child {
    margin-left: 0; }
  .nav__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 60px;
    text-transform: uppercase; }
  .nav__link:hover {
    color: #00acdc; }

.is-active {
  color: #00acdc; }

.is-active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #00acdc;
  border-radius: 2px;
  content: ""; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px; }

body {
  margin: 0;
  width: 100%; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/*# sourceMappingURL=main.css.map */
